<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>REGISTRATION</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1><b>REGISTRATION</b></h1>-->

<!--<form action="register" method="post">-->
<!--    {% csrf_token %}-->
<!--    <input type="text" name="username" placeholder="Enter your username"><br>-->
<!--    <input type="text" name="first_name" placeholder="Enter the first name"><br>-->
<!--    <input type="text" name="last_name" placeholder="Enter the last name "><br>-->
<!--    <input type="email" name="email" placeholder="Enter the your email"><br>-->
<!--    <input type="password" name="password" placeholder="Enter your password"><br>-->
<!--    <input type="password" name="password1" placeholder="confirm your password"><br>-->
<!--    <input type="submit"><br>-->
<!--</form>-->
<!--{% for msg in messages %}-->
<!--{{msg}}-->
<!--{% endfor %}-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="/static/styles/style1.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="register" method="post">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" name="username" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" name="first_name" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" name="last_name" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" name="email" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name="password" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" name="password1" placeholder="Confirm your password" required>
          </div>
        </div>
<!--        <div class="gender-details">-->
<!--          <input type="radio" name="gender" id="dot-1">-->
<!--          <input type="radio" name="gender" id="dot-2">-->
<!--          <input type="radio" name="gender" id="dot-3">-->
<!--          <span class="gender-title">Gender</span>-->
<!--          <div class="category">-->
<!--            <label for="dot-1">-->
<!--            <span class="dot one"></span>-->
<!--            <span class="gender">Male</span>-->
<!--          </label>-->
<!--          <label for="dot-2">-->
<!--            <span class="dot two"></span>-->
<!--            <span class="gender">Female</span>-->
<!--          </label>-->
<!--          <label for="dot-3">-->
<!--            <span class="dot three"></span>-->
<!--            <span class="gender">Prefer not to say</span>-->
<!--            </label>-->
<!--          </div>-->
<!--        </div>-->
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
      <div class="message-container">
        {% for msg in messages %}
        <span class="message">{{ msg }}</span>
        {% endfor %}
      </div>
    </div>
  </div>


</body>
</html>